{% extends 'base.html.twig' %}

{% block title %}Главная страница!{% endblock %}

{% block body %}
<label for="login">Login</label>
<input type="text" id="login" name="login" value="">

<label for="pass">Pass</label>
<input type="password" id="pass" name="pass" value="">

<button type="button" id="reg" name="button">Registration</button>

<!-- JQUERY INIT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
  $(document).ready(function(){

    $('#reg').on('click', function(){

      let login = $('#login').val();
      let pass = $('#pass').val();

      $.post('/api/registration',{
        login:login,
        pass:pass
        }).done(function(data){
          alert(data);
        });

    });

  });
</script>

{% endblock %}
